:80 {
	encode {
		zstd
		gzip
		match {
			header Content-Type application/json*
			header Content-Type application/ld+json*
			header Content-Type text/*
			header Content-Type application/problem+json*
		}
	}

	handle_path /evidence/* {
		reverse_proxy evidence-api:6200
	}

	handle_path /ingestion/* {
		reverse_proxy ingestion-api:6300
	}

	handle_path /public/* {
		reverse_proxy public-api:6400
	}

	handle_path /auth/* {
		reverse_proxy auth-api:6100
	}
}
